h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}

button{
    width: 250px;
    height: 80px;
    background-color: blue;
    color: white;
    font-size: 14px;
}

button:hover{
    background-color: green;
}

